<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/chance.css">
</head>

<body>
    <h1>You may have the disease</h1>
    <p>Consider consulting these doctors.</p>
    <div class="container">
        <div class="cards">
            <h3>{{ specialist.specialist1 }}</h3>
            <p class="description">{{ specialist.description1 }}</p>
        </div>
        <div class="cards">
            <h3>{{ specialist.specialist2 }}</h3>
            <p class="description">{{ specialist.description2 }}</p>
        </div>
        <div class="cards">
            <h3>{{ specialist.specialist3 }}</h3>
            <p class="description">{{ specialist.description3 }}</p>
        </div>
    </div>
    <form action="/home">
        <button> Home</button>
    </form>
    <form action="/predict">
        <button> Predict Again</button>
    </form>
</body>

</html>